option_settings:
  aws:elasticbeanstalk:application:environment:
    # Most environment variables are defined in the .env file which is loaded by Microblog
    #FLASK_ENV: production
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: statichtml
    /static: staticimages
  aws:elasticbeanstalk:container:python:
    WSGIPath: microblog:app
    NumProcesses: 1
    NumThreads: 15
