# see documentation for configuration options and the order in which they are processed:
#   https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html

#packages:

#groups:
#  mb:
#    gid: "1500"

#users:
#  mb:
#    groups:
#      - mb
#    uid: "1500"
#    homeDir: "/tmp/mb"

#sources:

#files:

commands:
  10_install_extras:
    command: amazon-linux-extras install -y epel redis6

services:
  sysvinit:
    redis:
      enabled: true
      ensureRunning: true

container_commands:
  02flaskdb:
    command: "flask db upgrade"
    leader_only: true
  03flasktranslate:
    command: "flask translate compile"
    leader_only: true

option_settings:
  #aws:elasticbeanstalk:application:environment:
    # Most environment variables are defined in the .env file which is loaded by Microblog
    #FLASK_ENV: production
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  #aws:elasticbeanstalk:environment:proxy:staticfiles:
    # N.B.: directive not needed as nginx by default looks for static files in /static
    # /static: [statichtml, staticimages]
  aws:elasticbeanstalk:container:python:
    # N.B.: options in this namespace are overriden by Procfile
    WSGIPath: microblog:app
    NumProcesses: 1
    NumThreads: 1
