option_settings:
  aws:elasticbeanstalk:application:environment:
    # Most environment variables are defined in the .env file which is loaded by Microblog
    #FLASK_ENV: production
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  #aws:elasticbeanstalk:environment:proxy:staticfiles:
    # N.B.: directive not needed as nginx by default looks for static files in /static
    # /static: [statichtml, staticimages]
  aws:elasticbeanstalk:container:python:
    # N.B.: options in this namespace are override by Procfile
    WSGIPath: microblog:app
    NumProcesses: 1
    NumThreads: 15
